@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}
h1 {
  font-size: 28px;
}
h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
* {
  box-sizing: border-box;
}